@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Mulish", sans-serif;

}

/* desfault styles */

.container{
    width: 90%;
    margin: 50px auto;

}

span{
    color: rgba(255, 84, 0, 1);
    
}

button{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgba(255, 84, 0, 1);
    
}


/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-items{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.logo img{
    width: 20%;
    height: 80%;
}

.logo p{
    font-size: 1.5rem;
    font-weight: 900;
}


.nav-items p{
    font-size: 1.2rem;
    cursor: pointer;
}

.hamburger{
    display: none;
}

/* navbar section ends here */

/* banner section starts here */
.banner-container{
    background-image:linear-gradient(180deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url(./Images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 500px;
}

.banner-content h1{
    font-size: 3rem;
    color: whitesmoke;
    margin-bottom: 10px;

}

.banner-content p{
    width: 676px;
    color: rgb(162, 166, 170);
    margin-bottom: 20px;
}

input,select{
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: rgb(128, 134, 139);
    margin-right: 10px;
}

.banner-input{
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.38);
    /* backdrop-filter:blur(4px); */
}
/* banner section ends here */

/* popular section starts here */
.popular-tours{
    display: flex;
    justify-content: space-between;
}
.popular-content{
    width: 50%;
}

.popular-image img{
    width: 100%;
    height: 450px;
}

.popular-content h1{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 20px;
}
.popular-content p, .popular-content li{
    margin-bottom: 15px;
    font-size: 1rem;
}
.popular-content li{
    margin-left: 7%;
}
/* popular section ends here */
















/* responsive design starts here */
@media screen and (max-width:576px) {
    .hamburger{
        display: block;
    }

    .nav-items p{
        display: none;
    }

    /* banner section */
        .banner-container {
            padding: 20px;
            height: auto;
        }
    
        .banner-content h1 {
            font-size: 2rem;
            margin-bottom: 8px;
        }
    
        .banner-content p {
            width: 100%;
            font-size: 0.9rem;
            margin-bottom: 15px;
        }
    
        input, select {
            width: 90%;
            margin-bottom: 10px !important;
            margin: 0 auto;
            padding: 8px;
        }
    
        button {
            width: 90%;
            padding: 8px;
        }
    
        .banner-input {
            padding: 15px;
            border-radius: 5px;
            width: 60%;
            
        }

        /* our popular section is started */

        .popular-tours{
            flex-direction: column;
        }

        .popular-image img{
            width: 100%;
        }

        button{
            margin-bottom: 15px;
            width: 110px;

        }

        .popular-content{
            width: 90%;
        }

    
    
}